*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-clr: #f2643d;
    --book-back-clr: #ffffff;
    --book-border-font-clr: #000000;
    --book-heading-clr: #f2643d;
    --input-bg-clr: white;
    --button-text-clr: white;
    --main-font-size: 15px;

    --button-font-size: 1rem;
    font-size: var(--main-font-size);
}

:root.dark {
    --background-clr: #f2643d;
    --book-back-clr: #000000;
    --book-border-font-clr: #ffffff;
    --book-heading-clr: #f2643d;
    --input-bg-clr: #000000;
    --button-text-clr: #000000;
    --main-font-size: 15px;

    --button-font-size: 1rem;
    font-size: var(--main-font-size);
}

h1.title {
    font-size: 1.8rem;
    color: var(--book-heading-clr);
    margin-bottom: 10px;
    position: relative;
}

h1.form-title {
    font-size: 1.4rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-clr);
    width: 100vw;
    height: 100vh;
}

.container {
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    min-height: 50%;
    max-height: 70%;
    padding: 30px;
    border-radius: 10px;
    border: solid 4px var(--book-border-font-clr);
    background-color: var(--book-back-clr);
    overflow:scroll;
    transition: 250ms;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--book-border-font-clr);
    border: solid 4px var(--book-border-font-clr);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--book-back-clr);
    box-shadow: 5px 5px 0px 1px var(--book-border-font-clr);
    transition: opacity 1.2s;
    transition: 500ms;
}

.books-heading {
    display: flex;
    justify-content: space-between;
}

.book.fadeout {
    opacity: 0;
}

.addBook,
.book-submit,
.select-theme {
    margin-bottom: 25px;
    min-width: 100px;
    font-size: var(--button-font-size);
    font-weight: 600;
    background-color: var(--background-clr);
    border: solid 3px var(--book-border-font-clr);
    color: var(--button-text-clr);
    border-radius: 10px;
    transition: transform 200ms;
    text-align: center;
    padding: 7px 0 7px;
    cursor: pointer;
    box-shadow: 2px 2px 0px 1px var(--book-border-font-clr);
}

.addBook {
    margin-left: 20px;
}

.select-theme {
    margin-right: 20px;
}



/* .addBook:hover,
.book-submit:hover {
    transform: scale(1.04);
} */

.remove-button {
    background-color: var(--background-clr);
    color: var(--book-back-clr);
    /* border: 2px solid var(--book-heading-clr); */
    border: 3px solid var(--book-border-font-clr);
    border-radius: 10px;
    padding: 3px 15px 3px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 250ms;
    box-shadow: 2px 2px 0px 1px var(--book-border-font-clr);
}

/* .remove-button:hover {
    transform: scale(1.09);
} */

.user-input {
    position: fixed;
    top: 30%;
    visibility: hidden;
    transform: scale(0);
    /* width: 30%; */
    width: 20%;
    min-width: 260px;
    height: 50%;
    background-color: var(--input-bg-clr);
    color: var(--book-border-font-clr);
    border-radius: 20px;
    border: solid 4px var(--book-border-font-clr);
    transition: 0.2s ease-in;
    z-index: 10;

}

.title,
.author,
.pages,
.read {
    font-size: 0.9rem;
    line-height: 1.3;
    font-weight: bold;

}

.read {
    cursor: pointer;
    position: relative;
}

.read::after {
    position: absolute;
    top: 17px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--book-heading-clr);
    transition: width 250ms ease-in-out;
}

.read:hover::after {
    width: 100%;
}

label,
.user-form div p:first-child  {
    margin-bottom: 5px;
}
input {
    border-radius: 5px;
    border: solid 2px var(--book-border-font-clr);
    padding-left:7px
}
input[data-id-text]:focus {
    /* outline: 3px solid var(--book-heading-clr); */
    outline: none;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 15px;
    gap: 15px;
}

.user-form > div:nth-child(1),
.user-form > div:nth-child(2),
.user-form > div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.user-form .label-headings {
    font-weight: bold;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--book-border-font-clr);
}

.form-header button.close-button {
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--book-border-font-clr);
}

.user-input.active {
    visibility: visible;
    transform: scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
