*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-clr: #020f1b;
    --book-back-clr: #060607;
    --book-border-font-clr: #f8f4f4;
    --book-heading-clr: #84c3fd;
    --main-font-size: 15px;

    --button-font-size: 1.1rem;
}

h1.title {
    font-size: 1.5rem;
    color: var(--book-heading-clr);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: var(--main-font-size);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-clr);
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.container {
    width: 80%;
    max-width: 500px;
    height: 80%;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--background-clr);
    overflow: scroll;
}

.book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--book-border-font-clr);
    border: solid 4px var(--book-border-font-clr);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--book-back-clr);
    box-shadow: 2px 5px 21px 3px rgba(0,0,0,0.53);
    transition: transform 250ms;
}

.addBook {
    margin-bottom: 25px;
    width: 50%;
    font-size: var(--button-font-size);
    font-weight: bold;
    background-color: var(--book-back-clr);
    border: solid 2px var(--book-border-font-clr);
    color: var(--book-border-font-clr);
    border-radius: 8px;
    transition: transform 200ms;
}

.addBook:hover {
    transform: scale(1.04);
}

.remove-button {
    background: none;
    color: var(--book-border-font-clr);
    border: none;
    font-size: 1.06rem;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.remove-button::after {
    display: block;
    position: relative;
    content: '';
    width: 0%;
    height: 3px;
    background-color: var(--book-heading-clr);
    transition: width 200ms ease-in-out;
}

.remove-button:hover::after {
    width: 100%;
}

.user-input {
    position: fixed;
    top: 30%;
    visibility: hidden;
    transform: scale(0);
    width: 30%;
    min-width: 350px;
    height: 50%;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    border: solid 4px rgb(201, 231, 231);
    transition: 0.2s ease-in;
    z-index: 10;

}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 15px;
    gap: 15px;
}

.user-form > div:nth-child(1),
.user-form > div:nth-child(2),
.user-form > div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.form-header button.close-button {
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.user-input.active {
    visibility: visible;
    transform: scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
