*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-clr: #18181d;
    --book-back-clr: #060607;
    --book-border-font-clr: #845ec2;
    --book-heading-clr: #00c0a3;
    --main-font-size: 15px;

    --button-font-size: 0.9rem;

    --input-bg-clr: #18181d;
}

h1.title {
    font-size: 1.8rem;
    color: var(--book-heading-clr);
    margin-bottom: 10px;
    position: relative;
}

h1.form-title {
    font-size: 1.4rem;
}

body {
    scrollbar-color: var(--input-bg-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: var(--main-font-size);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(40, 40, 46);
    width: 100vw;
    height: 100vh;
}

.container {
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    height: 80%;
    padding: 30px;
    border-radius: 10px;
    border: solid 2px var(--book-border-font-clr);
    background-color: var(--background-clr);
    overflow:scroll;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--book-border-font-clr);
    border: solid 4px var(--book-border-font-clr);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--book-back-clr);
    box-shadow: 2px 5px 21px 3px rgba(0,0,0,0.65);
    transition: opacity 1.2s;
}

.book.fadeout {
    opacity: 0;
}

.addBook,
.book-submit {
    margin-bottom: 25px;
    min-width: 100px;
    font-size: var(--button-font-size);
    font-weight: 600;
    background-color: var(--book-back-clr);
    border: solid 2px var(--book-border-font-clr);
    color: var(--book-border-font-clr);
    border-radius: 8px;
    transition: transform 200ms;
    text-align: center;
    padding: 7px 0 7px;
    cursor: pointer;
}



.addBook:hover,
.book-submit:hover {
    transform: scale(1.04);
}

.remove-button {
    background: none;
    color: var(--book-heading-clr);
    border: 2px solid var(--book-heading-clr);
    padding: 3px 15px 3px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 250ms;
}

.remove-button:hover {
    transform: scale(1.09);
}

.user-input {
    position: fixed;
    top: 30%;
    visibility: hidden;
    transform: scale(0);
    width: 30%;
    min-width: 260px;
    height: 50%;
    background-color: var(--input-bg-clr);
    color: var(--book-border-font-clr);
    border-radius: 20px;
    border: solid 4px var(--book-border-font-clr);
    transition: 0.2s ease-in;
    z-index: 10;

}

.title,
.author,
.pages,
.read {
    font-size: 0.8rem;
    line-height: 1.3;
    font-weight: bold;

}

.read {
    cursor: pointer;
    position: relative;
}

.read::after {
    position: absolute;
    top: 17px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--book-heading-clr);
    transition: width 250ms ease-in-out;
}

.read:hover::after {
    width: 100%;
}

label,
.user-form div p:first-child  {
    margin-bottom: 5px;
}
input {
    border-radius: 7px;
    border: none;
    padding-left:7px
}
input[data-id-text]:focus {
    outline: 3px solid var(--book-heading-clr);
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 15px;
    gap: 15px;
}

.user-form > div:nth-child(1),
.user-form > div:nth-child(2),
.user-form > div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--book-border-font-clr);
}

.form-header button.close-button {
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--book-border-font-clr);
}

.user-input.active {
    visibility: visible;
    transform: scale(1);
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
